* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(26, 0, 43); /* space blue violet */
}

#wrapper {
}

.card {
    height: 400px;
    width: 285px;
    background-color: rgb(255, 255, 240);
    border-radius: 15px;
    padding: 12px;
}

.card-content {
    /* border: 3px solid #222; */
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr 1fr;
}

.card-number {
    /* border-style: none none dashed none; */
    display: flex;
    justify-content: center ; /* Horizontales Zentrieren des Inhalts */
    align-items: center; /* Vertikales Zentrieren des Inhalts */
    background-color: #A65424;
    color: white;
    font-size: x-large;
    border-radius: 10px 0 0 0;
}

.card-title {
    grid-column: span 3;
    background-color: #A65424;
    color: white;
    border-radius: 0 10px 0 0;
    padding-top: 1%;
    /* color: white; */
    /* border: 3px dashed #222; */
    /* border-style: none none dashed dashed; */
}

.card-name {
    font-size: large;
    color: white;
}

.card-group {
    font-size: small;
}

.rocket-image {
    grid-column: span 4;
    max-width: 100%;
    max-height: 170px;
}

.rocket-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rocket-info {
    grid-column: span 3;
    display: flex;
    justify-content: left; 
    align-items: center;
    border-style: none none solid none;
}

.goal-icon {
    /* border-style: dashed dashed dashed none; */
    display: flex;
    justify-content: center;
    align-items: center; 
    border-style: none none solid none;
}

.goal-icon img {
    width: 25px;
    height: 25px;
}

.stat-icon {
    border-style: none none solid none;
    display: flex;
    justify-content: center; /* Horizontales Zentrieren des Inhalts */
    align-items: center; /* Vertikales Zentrieren des Inhalts */
}

.stat-icon img {
    width: 25px;
    height: 25px;
}

.stat-value {
    border-style: none none solid none;
    display: flex;
    justify-content: left; /* Horizontales Zentrieren des Inhalts */
    align-items: center; /* Vertikales Zentrieren des Inhalts */
}
