* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(26, 0, 43); /* space blue violet */
}

#wrapper {
}

.card {
    height: 400px;
    width: 285px;
    background-color: rgb(255, 255, 240);
    border-radius: 15px;
    padding: 12px;
}

.card-content {
    border: 3px solid #222;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr 1fr;
}

.card-number {
    border-style: none none dashed none;

}

.card-title {
    grid-column: span 3;
    /* border: 3px dashed #222; */
    border-style: none none dashed dashed;
}

.rocket-image {
    grid-column: span 4;
    max-width: 100%;
    max-height: 170px;
}

.rocket-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rocket-info {
    grid-column: span 3;
}
