* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

main {
  margin: 0;
  color:white;
  background-color: rgb(26, 0, 43); /* space blue violet */
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2%; 
  max-width: calc(4 * (250px + (4%))); 
  margin: 0 auto; 
}

/* Media Query für maximale Breite von vier Karten nebeneinander */
@media screen and (max-width: 1200px) {
  #wrapper {
      grid-template-columns: repeat(4, 1fr);
  }
}

/* Media Query für maximale Breite von drei Karten nebeneinander */
@media screen and (max-width: 900px) {
  #wrapper {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Media Query für maximale Breite von zwei Karten nebeneinander */
@media screen and (max-width: 600px) {
  #wrapper {
      grid-template-columns: repeat(2, 1fr);
  }
}